.skills {
    

    outline: 1px solid grey;
}

.heading {
    font-size: 30px;
    font-family: 'Source Code Pro', monospace;

    text-align: center;
    text-transform: uppercase;
}

.leftCol {
    text-align: end;
    vertical-align: top;
}

