@import-normalize;

:root {
  --primary-background-color: #020017;
  --primary-text-color: #fff;
  --primary-logo-color: #f5ee76;
}

html[data-theme='dark'] {
 
}

html[data-theme='light'] {
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  box-sizing: content-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: var(--button-bgd-color);
  color: var(--primary-bgd-color);
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

main {
  display: block;
}


a {
  background-color: transparent;
}

img {
  border-style: none;
}

/* .container {
  position: relative;
  height: 100vh;

  padding: 0 15px;
}

.content-wrap {
  padding-bottom: 50px;
} */

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0 15px;
  
}